@{
    ViewData["Title"] = "Hướng dẫn sử dụng";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <h3>Hướng dẫn dành cho tổ chức, cá nhân muốn hỗ trợ những hoàn cảnh khó khăn </h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TgFz9e2rHV8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<hr />

<div class="row">
    <h3>Hướng dẫn dành cho người khó khăn đang cần sự giúp đỡ! </h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uFLfPnxK5js" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>