@{ 
    ViewData["Title"] = "Ủy quyền mua vật phẩm";
}


<section>
    <div class="section-title">
        <div class="row">
            <div class="col-md-12 col-md-offset-2">
                <h2 class="mt-0 line-height-1">Cảm ơn bạn đã có tấm lòng chia sẻ. Bạn vui lòng làm theo cú pháp bên dưới.</h2>
                <p>Cú pháp đóng góp: <strong>GoiDo + "Tên tổ chức bạn muốn chia sẻ" + "Thông tin liên hệ của bạn"</strong></p>
                <p>Bạn vui lòng để lại thông tin liên hệ (email, số điện thoại) để Gọi Đò có thể liên lạc với bạn và dễ dàng minh bạch tài chính trên phương tiện truyền thông của chúng tôi</p>
                <p>Thông tin tài khoản đóng góp và đồng hành:</p>
                <p> - Ngân hàng: <strong>Vietcombank: 039 1000 89 3379- Chủ Tài Khoản: Dinh Hoang Minh Ngoc</strong></p>
                <p> - Ví Momo: <strong>0932.801.512 -Bui Thi Quynh Nhung</strong></p>

                <p>Hotline: 0937002776</p>
            </div>
        </div>

    </div>
</section>