@{
    ViewData["Title"] = "Thành công rồi!";
}
<h1>@ViewData["Title"]</h1>

<p>Cảm ơn bạn đã gửi đề nghị giúp đỡ! Chúng tôi nhanh chóng sẽ liên lạc với bạn qua số điện thoại mà bạn cung cấp!</p>
<p>Nếu bạn có thắc mắc, vui lòng liên hệ hot line: 0937.002.776 bạn nhé!</p>
